.add-edit-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-edit-user-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  margin: 30px;
  max-width: 800px;
  min-width: min(500px, 100%);
}

.add-edit-user-form label {
  text-align: right;
}

.add-edit-user-form .button,
.add-edit-user-form .errorMsg {
  grid-column: 1 / -1;
  margin: auto;
}
