.add-edit-user-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.add-edit-user-form label {
  text-align: right;
}

.add-edit-user-form .button,
.add-edit-user-form .errorMsg {
  grid-column: 1 / -1;
  margin: auto;
}
